// ----- imports

@import 'compass';


// ----- colors


// ----- mixins

@mixin tight {
	margin: 0;
	padding: 0;
}

@mixin transit {
	@include transition(0.2s ease-in-out);
}


// ----- styles

* { @include box-sizing(border-box); }

a, a:visited { 

	&:active,
	&:hover {

	}

	header &,
	#main &,
	footer & {
		// Include transition (exclude links in the admin bar)
		@include transit; 
	}
}



// ----- layout

$width: 1200px;

.full-width {
	margin: 0 auto;
	max-width: $width;
	padding: 0 20px;
}


// ----- header

#site-title {
	// By default, style site title as if it
	// were always h1 (even though it's h3 on every
	// page except home page)
	font-size: 2em;
	margin: 0.67em 0;
}