/* 
 *	By config.rb, the CSS will always be minified.
 */

// ----- imports

@import "grid";
@import "normalize";
@import "reset";
@import "colors";

// ----- mixins

@mixin tight {
	margin: 0;
	padding: 0;
}


// ----- styles

* {
	box-sizing: border-box;
	position: relative;
}

a, a:visited { 

	&:active,
	&:hover {

	}
}



// ----- layout

$width: 1200px;

.full-width {
	margin: 0 auto;
	max-width: $width;
	padding: 0 20px;
}


// ----- header

#site-title {
	// By default, style site title as if it
	// were always h1 (even though it's h3 on every
	// page except home page)
	font-size: 2em;
	margin: 0.67em 0;
}